[
 {rabbit,
  [
   {queue_index_embed_msgs_below, 4096},
   {loopback_users, []},
   {vm_memory_high_watermark, 0.40},
   {vm_memory_high_watermark_paging_ratio, 0.8},
   {disk_free_limit, "5GB"},
   {hipe_compile, true},
   {collect_statistics_interval, 10000},
   {cluster_partition_handling, autoheal}
  ]
 }
].